body {
    background-color: black;
}
table,
th,
td {
  border: 1px solid white;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 10px;
  background-color: darkslategrey;
}
td {

}
.App {
    color:white ;
    padding: 20px;
    margin: 20px;
}

.ulWrap {
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 10px;
    color: white;
}
.racesListWrap {
    list-style: none;
    text-decoration: none;
    padding: 15px;
}

.racesLielem {
    border: 1px solid white;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkToRace:hover {
    transform: scale(1.03);
    border-bottom: 1px solid white;
}

.linkToRace {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.subtitleRaces {
    font-size: 28px;
    padding: 10px;
}

.filtersWrap {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    width: 50%;
}

.subTitle {
    padding: 0 15px;
}

.filterElem {
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
}
.filterElem:hover {
    border-bottom: 1px solid white;
}

.activeFilter {
    border: 1px solid white;
    border-radius: 4px;
}
