body {
    background-color: black;
}
table,
th,
td {
  border: 1px solid white;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 10px;
  background-color: darkslategrey;
}
td {

}
.App {
    color:white ;
    padding: 20px;
    margin: 20px;
}

.ulWrap {
    border: 2px solid darkslategrey;
    background-color: darkslategrey;
    border-radius: 10px;
    color: white;
}
.racesListWrap {
    list-style: none;
    text-decoration: none;
    padding: 15px;
}

.racesLielem {
    border: 1px solid white;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
}
.linkToRace:hover {
    background-color: darkslategrey;
    color: white;
    border-radius: 4px;
}

.linkToRace {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    padding: 8px;
}

.subtitleRaces {
    font-size: 28px;
    padding: 10px;
}

.filtersWrap {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    margin: 0 13px;
    border-radius: 13px;
    width: 320px;
    background: white;
    color: black;
}

.subTitle {
    padding: 0 15px;
}

.filterElem {
    padding: 5px 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
}
.filterElem:hover {
    border-bottom: 1px solid white;
}

.activeFilter {
    border: 1px solid darkslategrey;
    background-color: darkslategrey;
    color: white;
    border-radius: 4px;
}

.inputBet {
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submitBet {
    background-color: darkslategrey;
    color: white;
    padding: 9px 20px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.formText {
    font-size: 26px;
}

.greenColor {
    color: green;
    font-weight: bold;
}
.redColor {
    color: red;
    font-weight: bold;
}
